- file_updated = activity.parameters[:changed] && activity.parameters[:changed].include?('file')
- icon = if activity.key == 'artifact.create' || file_updated
  - 'upload'
- else
  - action

- image = "icons/color/64px/#{icon}.png"

.row
  .activity.dark-item{class: "activity-#{cycle('left', 'right')}"}

    = image_tag(image)

    .activity-content
      %strong= user_alias(activity.owner)

      = t(".#{action}.activity")

      = link_to_trackable activity.trackable, activity.parameters[:name]

      - if activity.parameters[:changed].present?
        = "(#{activity.parameters[:changed].join(', ')})"

      %em= timeago_tag activity.created_at, :nojs => true, :limit => 1.month.ago, lang: I18n.locale.downcase
