%p= t('.title')

#auth-providers
  - Rails.application.config.omniauth_providers.each do |provider|
    = link_to self.send("user_#{provider}_omniauth_callback_path"), method: :post do
      %i.fa{class: "fa-#{auth_provider_icon(provider)}"}
      = auth_provider_name(provider)
