= content_for :title, t('.your_artifacts')

.row#your-artifacts
  %h2= t('.your_artifacts')

  %p= t('.description', user: @user.email)
  %p
    = t('.show_favorites_html', link: link_to(t('.your_favorites'), '#your-favorites', id: 'go-to-favorites'))

- if @artifacts.any?
  .row.pad-top
    = render 'artifacts/artifact_list', artifacts: @artifacts, per_row: 1

.row#your-favorites
  %h2= t('.your_favorites')

  %p= t('.favorite_description')

- if @favorite_artifacts.any?
  .row.pad-top
    = render 'artifacts/artifact_list', artifacts: @favorite_artifacts, per_row: 1
