-if @artifact.mirrors.present?
  %p
    %strong= t('.mirrors')

  %ul.link-list
    - @artifact.mirrors.each do |mirror|
      - icon = "fa #{icon_from_extension(format_from_link(mirror))}"
      %li
        %i{class: icon}
        = external_link_to mirror, mirror

-if @artifact.more_info_urls.present?
  %p.pad-top
    %strong= t('.more_info')

  %ul.link-list
    -@artifact.more_info_urls.each do |more|
      - icon = "fa #{icon_from_extension(format_from_link(more))}"
      %li
        %i{class: icon}
        = external_link_to more, more
