%h2=t('.title')
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Author
      %th File
      %th{:colspan => "3"}
  %tbody
    - @artifacts.each do |artifact|
      %tr
        %td= artifact.name
        %td= artifact.description
        %td= artifact.author
        %td= link_to '_', artifact.file.url

        %td= link_to t('_other.show'), artifact
        %td= link_to t('_other.edit'), edit_artifact_path(artifact)
        %td= link_to t('_other.destroy'), artifact, method: :delete, data: { confirm: t('_other.confirm') }
