- if @artifacts.empty?
  = t('.none')

- @artifacts.in_groups_of(3, false).each do |group|
  .row
    - group.each do |artifact|
      .col-sm-4.portfolio-item.artifact-item{class: "#{cycle('dark', 'light')}-item"}
        %h3= link_to artifact.name, artifact
        = t('_other.by')
        %span= artifact.author

        .artifact-content
          %p= artifact.description.truncate(140)

        .artifact-tags
          = render 'artifact_tags', artifact: artifact

        .artifact-license
          = display_license(artifact, small: true)

        = render partial: 'buttons', locals: { artifact: artifact }

