- if @artifacts.empty?
  = t('.none')

- @artifacts.in_groups_of(3, false).each do |group|
  .row
    - group.each do |artifact|
      .col-sm-4.portfolio-item.artifact-item
        %h3= link_to artifact.name, artifact
        by
        %span= artifact.author

        .artifact-content
          %p= artifact.description.truncate(140)

        .artifact-tags
          = render 'artifact_tags', artifact: artifact

        .artifact-license
          = display_license(artifact, small: true)
        %p
          = link_to edit_artifact_path(artifact), class: 'btn btn-default' do
            %i.fa.fa-edit
            = t('_other.edit')

          -if artifact.file.url.present?
            = link_to artifact.file.url, class: 'btn btn-download' do
              %i.fa.fa-download
              = t('.download')

          = link_to artifact, class: 'btn btn-danger', method: :delete, data: { confirm: t('_other.confirm') } do
            %i.fa.fa-flash
            = t('_other.destroy')
