- if artifacts.empty?
  .artifact-item.empty-search
    %p= t('.none')

- artifacts.in_groups_of(per_row, false).each do |group|

  %div{class: "#{'row' if per_row > 1}"}
    - group.each do |artifact|

      - if per_row.present? && per_row > 0
        - col_class = "col-sm-#{12 / per_row}"

      .artifact-item{class: "#{cycle('dark', 'light')}-item #{col_class}"}
        %h3
          = link_to artifact.name, artifact

          = render "artifacts/side_buttons", artifact: artifact

        %span
          = t('_other.by')
          = artifact.author

        .artifact-content.pad-top
          %p.small
            = strip_tags(artifact.description_html).truncate(480)

        %p.more-info
          = link_to t('.more_info'), artifact_path(artifact)

        .artifact-tags
          = render 'artifacts/artifact_tags', artifact: artifact

        .artifact-license
          = display_license(artifact, small: true)

        = render partial: 'artifacts/buttons', locals: { artifact: artifact }
