-if @artifact.mirrors.present?
  %p
    %h3= t('.mirrors')

  - mirrors = @artifact.mirrors
  / Add our download file as the first mirror
  - if @artifact.file.present? && @artifact.downloadable?
    - mirrors.push(download_url(@artifact))

  %ul#mirrors.link-list
    - mirrors.each do |mirror|
      - icon = "fa #{icon_from_extension(format_from_link(mirror))}"
      %li.mirror-link
        %i{class: icon}
        = external_link_to mirror, mirror

-if @artifact.more_info_urls.present?
  %p
    %h3= t('.more_info')

  %ul.link-list
    -@artifact.more_info_urls.each do |more|
      - icon = "fa #{icon_from_extension(format_from_link(more))}"
      %li
        %i{class: icon}
        = external_link_to more, more

- if @artifact.more_info_urls.present? || @artifact.mirrors.present?

  .pad-top
  = render 'wayback_links'
