.artifact-buttons

  %p
    - if can?(:edit, artifact)
      = link_to edit_artifact_path(artifact), class: 'btn btn-default' do
        %i.fa.fa-edit
        = t('_other.edit')

    - if can?(:destroy, artifact)
      = link_to artifact, class: 'btn btn-danger', method: :delete, data: { confirm: t('_other.confirm') } do
        %i.fa.fa-flash
        = t('_other.destroy')

  - if artifact.download_count > 0
    .download-count= t('.download_count', count: artifact.download_count)

  %p
    - if can?(:download, artifact)
      - if artifact.file.try(:url)

        = link_to artifact.download_path, class: 'btn btn-group-justified btn-download', download: artifact.file_name do
          %i{class: "fa #{icon_from_extension(artifact.stored_files.last.format)}"}
          = t('.download')
          = "(#{number_to_human_size(artifact.file.file.size)})"

      - elsif artifact.mirrors.present?
        - mirror = artifact.mirrors.first
        = external_link_to mirror, class: 'btn btn-group-justified btn-download' do
          %i{class: "fa #{icon_from_extension(format_from_link(mirror))}"}
          = t('.download_mirror', domain: domain_from_link(mirror))