%span
  = t('_other.by')
  = link_to artifact.author.leet, artifacts_path(q: artifact.author)

%p.artifact-times
  %span.created-at
    = t('artifacts.created_by.created_at').leet
    = l(artifact.created_at)

  - if artifact.updated_at > artifact.created_at
    %span.updated-at
      = "(#{t('.updated_at')} #{l(artifact.updated_at)})".leet