- search_fields = Artifact.search_fields + ['q']

- [:tags, :apps, :formats].each do |tag_type|
  - if @tags[tag_type].any?
    .filter-sidebar.dark-item
      %h3.tag-title= t("artifacts.index.filters.#{tag_type}")
      - @tags[tag_type].each do |tag|
        - tags = params[tag_type].try(:split, ',').to_a

        - if tag_type == :tags
          - merge_with = ([tag.name] + tags).join(',')
        - else
          - merge_with = tag.name

        - new_params = params.slice(*search_fields).merge(tag_type => merge_with)

        - if tags.include?(tag.name)
          %span.tag-filter.selected-tag= "#{tag.name} (#{tag.count})"
        - else
          = link_to "#{tag.name} (#{tag.count})", artifacts_path(new_params), class: "tag-filter #{tag_type.to_s.singularize}-tag"

.filter-sidebar.dark-item
  %h3.tag-title= t("artifacts.index.filters.license")
  - @licenses.each do |license_type|
    = link_to artifacts_path(params.slice(*search_fields).merge(license: license_type)) do
      = image_tag License.type_image(license_type), alt: License.type_name(license_type), class: 'license-tag'

  %p= link_to @copyright.name, artifacts_path(params.slice(*search_fields).merge(license: @copyright.short_name))
