.row
  .col-lg-8.col-lg-offset-2

  = form_for(@artifact) do |f|
    - if @artifact.errors.any?
      #error_explanation
        %h2
          = pluralize(@artifact.errors.count, "error")
          prohibited this artifact from being saved:
        %ul
          - @artifact.errors.full_messages.each do |message|
            %li= message

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :name
        = f.text_field :name, class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :description
        = f.text_area :description, class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :author
        = f.text_field :author, class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :mirrors
        = f.text_field :mirrors, value: @artifact.mirrors.try(:join, ','), class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :file_hash
        = f.text_field :file_hash, class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :file
        -if @artifact.file.present?
          = @artifact.file.file.identifier

        = f.file_field :file, class: 'btn btn-default btn-file form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :software_list
        = f.text_field :software_list, value: @artifact.software_list.try(:join, ','), class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :tag_list
        = f.text_field :tag_list, value: @artifact.tag_list.try(:join, ','), class: 'form-control'

    .row.control-group
      .form-group.col-xs-12.floating-label-form-group.controls
        = f.label :license
        = f.select :license_id, Hash[License.pluck(:name).zip(License.pluck(:id))], class: 'form-control'

    %br
      #success
        .row
          .form-group.col-xs-12
            = f.submit#, class: 'btn btn-success btn-lg'
