- content_for :title, t('.all')

%form#artifact_search_form{method: :get}
  .row
    .col-lg-12.input-group.search-field
      %span.input-group-btn
        %button#artifacts_search_btn.btn.btn-default{type: "submit", value: 'submit'}= t('.search')

      %input#artifact_search.form-control{name: 'search', placeholder: t('.search_for'), type: 'text', value: value_from_params }

      %input.form-control{name: 'q', type: 'hidden' }

  .row.search-filters
    %span.input-group.filters
      - ['license', 'tags', 'apps', 'hash'].each do |filter|
        %p.col-lg-3
          %input{type: 'hidden', name: filter}
          %input.switch{type: 'checkbox', 'data-handle-width' => '120px', 'data-label-text' => t(".filters.#{filter}"), name: "switch-#{filter}", checked: false}

  - if (params.keys & ['license', 'tags', 'apps', 'hash']).any?
    .row
      %p=t('.using_filters')

#artifact-list
  = render 'artifact_list'

%p.pad-bottom
  = link_to t('.new'), new_artifact_path, class: 'btn btn-group-justified btn-new btn-lg'
