- if params[:q].present?
  - title = t('.search_description', query: params[:q])
  - content_for :title, remove_quotes(title)
- else
  - content_for :title, title_from_tags(params.slice(:tags, :apps, :formats))

= form_tag artifacts_url, class: 'pad-top', id: 'artifact_search_form', method: :get, enforce_utf8: true do
  .row
    .col-lg-12.input-group.search-field
      %input#artifact_search.form-control.input-lg{name: 'search', placeholder: t('.search_for'), type: 'text', value: value_from_params }

      %input.form-control{name: 'q', type: 'hidden' }

      %span.input-group-btn
        %button#artifacts_search_btn.btn.btn-default.btn-lg{type: "submit", value: 'submit'}
          %i.fa.fa-search
          = t('.search')

        %a#artifacts_search_clear.btn.btn-default.btn-clear.btn-lg{href: artifacts_path}
          %i.fa.fa-times
          = t('.clear_search')

  .row.search-filters.container-fluid
    .input-group.filters.text-center
      -  Artifact.search_fields.each do |filter|
        .col-lg-2.col-md-3.col-sm-4.col-xs-6
          %input.form-control{name: filter, type: 'hidden'}
          %input.filter{type: 'hidden', id: "checkbox_#{filter}", name: "checkbox_#{filter}", checked: false}

  .row.search-description.container-fluid
    = render 'artifact_search_description', title: title

#artifact-list
  .row
    .col-sm-8.artifact-list-wrapper
      - if @artifacts.any?
        = render 'search_order_dropdown'

      = render 'artifact_list', artifacts: @artifacts, per_row: 1

      .pad-bottom
        = paginate @artifacts, :left => 10, :right => 10

    .col-sm-4
      = render 'layouts/static_notification_space'

    .col-sm-4
      %p.pad-top.pad-bottom= link_to t('.new'), new_artifact_path, class: 'btn btn-group-justified btn-new btn-lg'

    .col-sm-4
      = render 'filter_by_tags'
