- title = params[:q].present? ? t('.search_description', query: params[:q]) : t('.all')
- content_for :title, remove_quotes(title)

%form.pad-top#artifact_search_form{method: :get}
  .row
    .col-lg-12.input-group.search-field
      %span.input-group-btn
        %button#artifacts_search_btn.btn.btn-default.btn-lg{type: "submit", value: 'submit'}= t('.search')

      %input#artifact_search.form-control.input-lg{name: 'search', placeholder: t('.search_for'), type: 'text', value: value_from_params }

      %span.input-group-btn
        %button#artifacts_search_clear.btn.btn-clear.btn-lg{href: '#'}
          = t('.clear_search')

      %input.form-control{name: 'q', type: 'hidden' }

  .row.search-filters.container-fluid.pad-bottom
    %form.input-group.filters.text-center
      -  Artifact.search_fields.each do |filter|
        .col-lg-2.col-md-3.col-sm-4.col-xs-6
          %input.filter{type: 'checkbox', id: filter, name: filter, checked: false}
          %label.filter{for: filter}= t(".filters.#{filter}")

  .row.search-buttons.container-fluid

  .row.search-description.container-fluid

    %p.page.pad-bottom
      - if (params[:q].present? || params[:page].present?)
        = t('.showing', title: title.downcase)

      - if (params[:page].present?)
        \-
        = t('.page_description', page: params[:page])

    -# if (params.keys & Artifact.search_fields).any?
      %p=#t('.using_filters')

#artifact-list
  = render 'artifact_list'

%p.pad-bottom
  = link_to t('.new'), new_artifact_path, class: 'btn btn-group-justified btn-new btn-lg'
