- title = params[:q].present? ? t('.search_description', query: params[:q]) : t('.all')
- content_for :title, remove_quotes(title)

%form.pad-top#artifact_search_form{method: :get}
  .row
    .col-lg-12.input-group.search-field
      %span.input-group-btn
        %button#artifacts_search_btn.btn.btn-default.btn-lg{type: "submit", value: 'submit'}= t('.search')

      %input#artifact_search.form-control.input-lg{name: 'search', placeholder: t('.search_for'), type: 'text', value: value_from_params }

      %span.input-group-btn
        %button#artifacts_search_clear.btn.btn-clear.btn-lg{href: '#'}
          = t('.clear_search')

      %input.form-control{name: 'q', type: 'hidden' }

  .row.search-filters.container-fluid
    %form.input-group.filters.text-center
      -  Artifact.search_fields.each do |filter|
        .col-lg-2.col-md-3.col-sm-4.col-xs-6
          %input.form-control{name: filter, type: 'hidden'}
          %input.filter{type: 'hidden', id: "checkbox_#{filter}", name: "checkbox_#{filter}", checked: false}
          / %label.filter{for: "checkbox_#{filter}"}= t(".filters.#{filter}")

  .row.search-buttons.container-fluid
    / Filled by JS code

  .row.search-description.container-fluid
    = render 'artifact_search_description', title: title


#artifact-list
  .row
    .col-sm-8
      = render 'artifact_list'

    .col-sm-4
      %p.pad-top= link_to t('.new'), new_artifact_path, class: 'btn btn-group-justified btn-new btn-lg'

    .col-sm-4
      = render 'filter_by_tags'

  .row.pad-bottom
    = paginate @artifacts, :left => 10, :right => 10

