%p
  %strong Filename:
  = @artifact.name
%p
  %strong Description:
  = @artifact.description
%p
  %strong Author:
  = @artifact.author
%p
  %strong Mirrors:
  - @artifact.mirrors.try(:each) do |mirror|
    = link_to mirror, mirror
%p
  %strong More info:
  - @artifact.more_info_urls.try(:each) do |more|
    = link_to more, more
%p
  %strong Software:
  = @artifact.software_list

%p
  %strong Tags:
  = @artifact.tag_list

-if @artifact.file.present?
  %p
    %strong File:
    = link_to t('.download'), @artifact.file.url

%p
  %strong License:
  = display_license(@artifact)

%p
  %strong
    = t('.related')
    \:
%ul.related-links
  - @artifact.related.each do |art|
    %li.related-link= link_to art.name, artifact_path(art)

= link_to t('_other.edit'), edit_artifact_path(@artifact)
|
= link_to t('_other.back'), artifacts_path
