%p#notice= notice
%p
  %strong Filename:
  = @artifact.name
%p
  %strong Description:
  = @artifact.description
%p
  %strong Author:
  = @artifact.author
%p
  %strong Mirrors:
  - @artifact.mirrors.each do |mirror|
    = link_to mirror, mirror
%p
  %strong Software:
  = @artifact.software_list

%p
  %strong Tags:
  = @artifact.tag_list

%p
  %strong File:
  = link_to t('.download'), @artifact.file.url

%p
  %strong License:
  = cc_license_tags(@artifact.license.short_name)

%p
  %strong= t('.related')
  - @artifact.related.each do |art|
    = link_to art.name, artifact_path(art)

= link_to t('_other.edit'), edit_artifact_path(@artifact)
|
= link_to t('_other.back'), artifacts_path
