- content_for :title, @artifact.name

.artifact-item

  - if !@artifact.approved?
    %p.alert.alert-warning.unapproved= t('.unapproved')

  %h1.artifact-name
    = render "artifacts/side_buttons", artifact: @artifact
    = @artifact.name

  = render "created_by", artifact: @artifact

  .row.artifact-item
    .col-lg-8.col-md-8.col-sm-8.light-item.pad-bottom
      .artifact-description
        -if @artifact.description.present?
          = @artifact.description_html
        - else
          .no-description= t('.no_description')

      = render 'artifact_links'

      .artifact-tags.big-tags
        = render 'artifact_tags', artifact: @artifact

      %p.artifact-license
        = render 'artifacts/license', artifact: @artifact, small: false

    - # Preview file list and multimedia content linked as more info urls
    = render 'file_listing'
    = render 'more_info_multimedia'

  .row

    = render 'buttons', artifact: @artifact

    %p#related-links.pad-top.pad-bottom
      %strong
        = t('.related')
        \:

      - @artifact.related.each do |art|
        = link_to artifact_path(art, class: 'related-link') do
          %i.fa.fa-archive
          = art.name

    .comments
      = render partial: 'comments'

    %p.nav-links.pad-top
      = link_to t('_other.back'), artifacts_path, id: "#{'back-button' if (request.referrer.present? && internal_referrer?)}"
