%h1= @artifact.name
%p.small
  = t('.by')
  = @artifact.author

.artifact-content
  %p= @artifact.description

-if @artifact.mirrors.present?
  %p
    %strong= t('.mirrors')
    \:
    - @artifact.mirrors.each_with_index do |mirror, i|
      = external_link_to i, mirror

-if @artifact.more_info_urls.present?
  %p
    %strong= t('.more_info')
    \:
    - @artifact.more_info_urls.each_with_index do |more, i|
      = external_link_to i, more

= render 'wayback_links'

.artifact-tags.big-tags
  = render 'artifact_tags', artifact: @artifact

%p.artifact-license
  = display_license(@artifact)

  - if @artifact.extra_license_text.present?
    %p= @artifact.extra_license_text


#comments
  #show-comments
    %a{href: '#comments'}= t('.show_comments')
    %i.fa.fa-comment

%p
  %strong
    = t('.related')
    \:

  - @artifact.related.each do |art|
    = link_to artifact_path(art, class: 'related-link') do
      %i.fa.fa-archive
      = art.name

= render partial: 'buttons', locals: {artifact: @artifact }

%p.nav-links
  = link_to t('_other.back'), artifacts_path
