- content_for :title, @artifact.name

%h1= @artifact.name
%p.small
  = t('_other.by')
  = @artifact.author

.artifact-content
  %p= @artifact.description

= render 'artifact_links'

.pad-top

= render 'wayback_links'

.artifact-tags.big-tags
  = render 'artifact_tags', artifact: @artifact

%p.artifact-license
  = display_license(@artifact)

  - if @artifact.extra_license_text.present?
    %p= @artifact.extra_license_text

= render partial: 'buttons', locals: {artifact: @artifact }

%p#related-links.pad-top.pad-bottom
  %strong
    = t('.related')
    \:

  - @artifact.related.each do |art|
    = link_to artifact_path(art, class: 'related-link') do
      %i.fa.fa-archive
      = art.name

= render partial: 'comments'

%p.nav-links.pad-top
  = link_to t('_other.back'), artifacts_path
