%h1= @artifact.name
%p.small
  by
  = @artifact.author

.artifact-content
  %p= @artifact.description

-if @artifact.mirrors.present?
  %p
    %strong Mirrors:
    - @artifact.mirrors.each_with_index do |mirror, i|
      = external_link_to i, mirror

-if @artifact.more_info_urls.present?
  %p
    %strong More info:
    - @artifact.more_info_urls.each_with_index do |more, i|
      = external_link_to i, more

.artifact-tags.big-tags
  = render 'artifact_tags', artifact: @artifact

%p.artifact-license
  %strong License:
  = display_license(@artifact)

%p
  %strong
    = t('.related')
    \:

  - @artifact.related.each do |art|
    = link_to artifact_path(art, class: 'related-link') do
      %i.fa.fa-cog
      = art.name
%p
  = link_to edit_artifact_path(@artifact), class: 'btn btn-default' do
    %i.fa.fa-edit
    = t('_other.edit')

  -if @artifact.file.try(:url)
    = link_to @artifact.file.url, class: 'btn btn-download' do
      %i.fa.fa-download
      = t('.download')

  = link_to @artifact, class: 'btn btn-danger', method: :delete, data: { confirm: t('_other.confirm') } do
    %i.fa.fa-flash
    = t('_other.destroy')

= link_to t('_other.back'), artifacts_path
