- content_for :title, @artifact.name

.artifact-item

  - if !@artifact.approved?
    %p.alert.alert-warning.unapproved= t('.unapproved')

  %h1
    = @artifact.name
    = render "artifacts/side_buttons", artifact: @artifact

  %p.small
    = t('_other.by')
    = @artifact.author

  .row
    .col-lg-8.col-md-8.col-sm-8.pad-bottom
      .artifact-description
        = @artifact.description_html

      = render 'artifact_links'

      .artifact-tags.big-tags
        = render 'artifact_tags', artifact: @artifact

      %p.artifact-license
        = display_license(@artifact)

      - if @artifact.extra_license_text.present?
        %p.small= @artifact.extra_license_text_html

    - # Preview file list and multimedia content linked as more info urls
    .col-lg-4.col-md-4.col-sm-4

      = render 'file_listing'

      = render 'more_info_multimedia'

  .row

    = render 'buttons', artifact: @artifact

    %p#related-links.pad-top.pad-bottom
      %strong
        = t('.related')
        \:

      - @artifact.related.each do |art|
        = link_to artifact_path(art, class: 'related-link') do
          %i.fa.fa-archive
          = art.name

    .comments
      = render partial: 'comments'

    %p.nav-links.pad-top
      = link_to t('_other.back'), artifacts_path
