#donations
  %h1= t('.call_to_action')

  .description
    = t('.description')

  %ul.donation-methods
    - ['paypal', 'bitcoin'].each do |method|
      %li{class: method}
        = link_to Rails.application.secrets.donations[method]['url'] do
          = image_tag Rails.application.secrets.donations[method]['shield'], alt: t(".#{method}_alt")
          %br
          = method.capitalize

  .my-music
    = t('.extra_my_music_html')
