#donations
  %h1= t('.call_to_action')

  .description
    = t('.description')

  %ul.donation-progress
    - donations = Rails.application.secrets.donations['streamelements']

    - if donations
      %iframe{src: donations['iframe'], width: '360px', height: '90px', style: 'border: 0; overflow: hidden;', scrolling: 'no'}

  %ul.donation-methods
    - Rails.application.secrets.donations['active'].each do |method|
      %li{class: method}
        = link_to Rails.application.secrets.donations[method]['url'], target: '_blank' do
          = image_tag Rails.application.secrets.donations[method]['shield'], alt: t(".#{method}_alt")
          = t(".#{method}_name")

  .description
    = t('.more_details')

  .description
    = t('.more_details_html')
