- content_for :title, t('_other.about')

%header
  .container
    .row
      .col-lg-12
        .intro-text
          = about_icon 'music'
          %span.name Musical
          %span.name Artifacts
          %hr.star-light
            %p.skills
              = t('.description')
            %h1.skills
              = t('.call_for_action')

        .documentation-link
          = link_to t('.documentation_url') do
            %i.fa.fa-file
            = t('.documentation')

%section.padded-top#creation
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'microphone'
          %h1= t('.creation')

          %p
            = t('.creation_description')

          - @tags.each do |tag|
            =link_to artifacts_path(tags: tag), class: 'btn btn-lg btn-outline btn-dark' do
              %span.em #
              = tag

%section.padded-top#access.success
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'arrow-down'
          %h1= t('.access')

          %p
            = t('.access_description')

          = link_to t('.how_to_host_url') do
            %i.fa.fa-external-link
            = t('.how_to_host')

%section.padded-top#licensing
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'document'
          %h1= t('.licensing')

          %p= t('.licensing_rights')
          %p= t('.licensing_rights_questions')
          = link_to t('.open_licenses_url') do
            %i.fa.fa-external-link
            = t('.open_licenses')

%section.padded-top#format.success
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'unlocked'
          %h1= t('.open_format')

          %p= t('.open_format_description')
          = link_to ('.open_formats_url') do
            %i.fa.fa-external-link
            = t('.open_formats')

%section.padded-top#documentation
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'chat'
          %h1= t('.document_it')

          %p= t('.document_it_description')

          = link_to t('.new_artifact_url') do
            %i.fa.fa-external-link
            = t('.new_artifact')

%section.padded-top#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2= t('.shall_we_start')
        %hr.star-light

      .col-lg-8.col-lg-offset-2.text-center
        = link_to artifacts_path, class: 'btn btn-lg btn-outline' do
          %i.fa.fa-search
          = t('.find_what')
