- content_for :title, t('_other.about')

%header
  .container
    .row
      .col-lg-12
        .intro-text
          = about_icon 'music'
          %span.name Musical
          %span.name Artifacts
          %hr.star-light
            %p.skills
              Helping to catalogue, preserve and free the artifacts you need to produce music.
            %h1.skills
              But how can you help?

%section#creation
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'microphone'
          %h1 Creation

          %p
            So you created some cool musical resource and want to share it which other artists?

          - @tags.each do |tag|
            =link_to artifacts_path(tags: tag), class: 'btn btn-lg btn-outline btn-dark' do
              %span.em #
              = tag

%section#access.success
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'arrow-down'
          %h1 Access

          %p
            First things first, the resource has to be accessible somewhere.
          %a{href: 'https://github.com/lfzawacki/musical-artifacts/wiki/File-Hosting' }
            %i.fa.fa-external-link
            How to host files?

%section#licensing
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'document'
          %h1 Licensing

          %p Think about which rights you grant to the resource's users.
          %p Can they use it commercially? Modify it? Redistribute it?
          %a{href: 'https://github.com/lfzawacki/musical-artifacts/wiki/Open-Licenses'}
            %i.fa.fa-external-link
            Learn about open licenses

%section#format.success
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'unlocked'
          %h1 Open format

          %p
            Make it available in a common and openly documented format.
          %a{href: 'https://github.com/lfzawacki/musical-artifacts/wiki/Open-Formats' }
            %i.fa.fa-external-link
            Learn about open formats

%section#documentation
  .container
    .row
      .col-lg-12
        .text-center.star-light
          = about_icon 'chat'
          %h1 Documentation

          %p
            TELL the world where to find your resource and how they can use it!

          %a{href: 'https://github.com/lfzawacki/musical-artifacts/wiki/New-Artifacts'}
            %i.fa.fa-external-link
            Registering new artifacts

%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 Shall we start?
        %hr.star-light

      .col-lg-8.col-lg-offset-2.text-center
        = link_to artifacts_path, class: 'btn btn-lg btn-outline' do
          %i.fa.fa-search
          Find what you're looking for
