%h1#acceptance-clause= t('.acceptance_title')
%p= t('.acceptance_text_html')

%h1#privacy-policy-and-data-collection-clause= t('.privacy_title')

%p= t('.privacy_text_1')
%p= t('.privacy_text_2')
%p= t('.privacy_text_3_html')
%p= t('.privacy_optout_html')

%h1#content-clause= t('.content_title')
%p= t('.content_text_html')

%h1#accuracy-and-warranty-clause= t('.warranty_title')

%p= t('.warranty_text_1')
%p= t('.warranty_text_2')

%h1#account-termination-clause= t('.termination_title')

%p= t('.termination_text')

%h1#change-of-provisions-clause= t('.change_title')

%p= t('.change_text')
